*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif, Arial, Helvetica;
}    
.nav.nav-pills.navbar-right a{
    color:black;
}

/* #banner-img{
    width: 100%;
} */

/* #content-left-column{
    justify-content:center;
    padding: 0;
    margin-right: 0;
} */

#orientation-date-row{
    background-color: silver;
}

/* Media query for mobile */
@media only screen and (max-width: 680px) {
    #desktop-nav{
        display: none;
    }
}

/* Media query for desktop */
@media only screen and (min-width: 680px) {
    #mobile-nav{
        display: none;
    }
}