*{
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    min-width: 480px;
}    
.nav.nav-pills.navbar-right a{
    color:black;
}

#orientation-date-row{
    background-color: silver;
}

#mobile-content{
    min-width: 480px;
}

/* Media query for mobile */
@media only screen and (max-width: 680px) {
    #desktop-nav{
        display: none;
    }
    #desktop-content{
        display: none;
    }
}

/* Media query for desktop */
@media only screen and (min-width: 680px) {
    #mobile-nav{
        display: none;
    }
    #mobile-content{
        display: none;
    }
}